// Fonts -----------------------------------------------------------
@font-face { font-family: 'Libre Franklin Bold'; src: url("../../fonts/LibreFranklin-Bold.ttf");}
@font-face { font-family: 'Libre Franklin Bold Italic'; src: url("../../fonts/LibreFranklin-BoldItalic.ttf");}
@font-face { font-family: 'Libre Franklin SemiBold Italic'; src: url("../../fonts/LibreFranklin-SemiBoldItalic.ttf");}
@font-face { font-family: 'Libre Franklin Medium'; src: url("../../fonts/LibreFranklin-Medium.ttf");}
@font-face { font-family: 'Libre Franklin Italic'; src: url("../../fonts/LibreFranklin-Italic.ttf");}
@font-face { font-family: 'Libre Franklin Regular'; src: url("../../fonts/LibreFranklin-Regular.ttf");}
@font-face { font-family: 'Libre Franklin Thin'; src: url("../../fonts/LibreFranklin-Thin.ttf");}

$bold: 'Libre Franklin Bold';
$boldItalic: 'Libre Franklin Bold Italic';
$semiBoldItalic: 'Libre Franklin SemiBold Italic';
$medium: 'Libre Franklin Medium';
$italic: 'Libre Franklin Italic';
$regular: 'Libre Franklin Regular';
$thin: 'Libre Franklin Thin';

// Font sizes
$heading: 1.5rem;
$subheading: 1.25rem;
$body: 1rem;
$small: 0.875rem;

//----------------------------------------------

// Colors

$primary: rgba(15, 61, 118);
$secondary: rgba(191, 171, 1);
$highlight: rgba(246, 235, 135);
$black: rgba(32, 23, 22);
$white: rgba(254, 252, 252);
$lightgrey: rgba(246, 239, 239);
$red: rgba(206, 24, 24);
$green: rgba(19, 203, 19);

//----------------------------------------------

* {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    font-size: $heading;
    font-family: $boldItalic;
    color: $primary;
}

h2 {
    font-size: $subheading;
    font-family: $semiBoldItalic;
}

h3 {
    font-size: $body;
    font-family: $semiBoldItalic;
    margin: 0.25rem 0rem 0rem;
}

h4 {
    font-size: $subheading;
    font-family: $medium;
}

p {
    font-size: $body;
    font-family: $regular;
}

@mixin mobile-container {
    max-width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6rem auto 0rem;

    @media screen and (min-width: 992px) {
        max-width: 60%;
    }

    @media screen and (min-width: 1145px) {
        max-width: 45%;
    }

    @media screen and (min-width: 1300px) {
        max-width: 50rem;
    }
}

@mixin full-width-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;

    @media screen and (min-width: 992px) {
        max-width: 60%;
    }

    @media screen and (min-width: 1145px) {
        max-width: 45%;
    }

    @media screen and (min-width: 1300px) {
        max-width: 50rem;
    }
}

@mixin text-link {
    color: $primary;
    margin-left: 0.25rem;

    &:hover {
        color: $highlight;
        transition: color 0.3s ease, transition 0.3s ease;
    }

    &:active {
        color: $secondary;
    }
}